nav ul li {
	display: inline;
  text-align: left;
}

body{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4c7e1;
  position: relative;
}

.find{
  margin: auto;
  text-align: center;
  float: none;
  font-family: 'Bitter', serif;
  background-color: #CCE6FF;
  border-radius: 10px;
  width: 400px;
  margin-top: 25px;
  height: 160px;
}

.time{
  color: navy;
  float: left;
}

h2{
  text-align: center;
}

section h3{
  float: right;
  display: block;
}

section p{
  /*float: right;*/
  display: block;
  /*padding-top: 50px;*/
}

article{
  bottom: 1px;
}