nav ul li {
	display: inline;
  text-align: left;
}

a:hover{
  background-color: #CCE6FF;
}

body{
  font-family: 'Arvo', serif;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4c7e1;
  position: relative;
}

.find{
  font-family: 'Nerko One', cursive;
  margin: auto;
  text-align: left;
  background-color: #CCE6FF;
  width: 100%;
  margin-top: 15px;
  height: 180px;
  padding-left: 15px;
  padding-top: 1px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  font-size: 2em;
  margin-top: 13px;
  font-weight: bold;
}

#time{
  color: navy;
  text-align: left;
  font-family: 'Bitter', serif;
}

h2{
  text-align: center;
}

section h3{
  text-align: right;
  display: block;
}

section p{
  text-align: right;
  display: block;
  padding: 0px;
  margin: 3px;
}

article{
  bottom: 1px;
}

.desc ul {
  margin-left: 50%;
}

.desc li{
  text-align: left;
  display: block;
  padding: 1px;
}